<form action = "/students/edit/<%=@student.id%>" method = POST>
<input id = "hidden" type = 'hidden' name = "_method" value = "patch"/>
<label for = "name">Name</label>
<input id = "name" type = "text" name = "name" value = "<%=@student.name%>" required = "required"/>
<label for = "mod">Mod Number</label>
<input id = "mod" type = "text" name = "mod" value = "<%=@student.mod%>" required = "required"/>
<input type = "submit" value = "Submit"/>
</form>